<header><h1>Iniciar Sesion</h1></header>
<main>
	<div class="centrar">
		<form method="post" action="index.php?c=usuario&a=login" class="px-4 py-3">
			<div class="form-row">
				<div class="col-4">
					<input type="text" name="usuario" id="usuario" placeholder="Usuario" class="form-control">
				</div>
			</div>
			<div class="form-row">
				<div class="col-4">	
					<input type="password" name="pass" id="pass" placeholder="Contraseña" class="form-control">
				</div>
			</div>
			<div class="form-row">
				<div class="col-4">
					<button type="submit" class="btn btn-Success btn-block">Ingresar</button>
					<input type="button" value="Registrar" class="btn btn-primary btn-block" onclick="location='index.php?c=usuario&a=registrar'">
				</div>
			</div>
			
		</form>

	</div>
</main>